{% extends 'base.html.twig' %}

{% block body %}

    {% block header %}
        <div id="wrapper_header">
            <div id="container">
                <div id="welcome">
                    <h1><span>Welcome to "Challenge for LETSBONUS"</span> </h1>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
        <div id="wrapper_footer">
            <div id="container">
                <div id="footer">
                    <h5><span>Roger Guasch Rion</span> </h5>
                </div>
            </div>
        </div>
    {% endblock %}

{% endblock %}