/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-ago-2015, 11:42:53
    Author     : Jesús Hernando Sancha
*/

.top15{
    margin-top: 15px;
}

.top30{
    margin-top: 30px;
}